<div class="container">
  <div class="row section-spacing">
    <div class="col-md-11">
      <h2>{{ restaurant.name }}</h2>
      <br />
      <div class="row">
        <div class="col-md-3">
          <div class="icon-container">
            <div class="icon-info">
              <mat-icon class="icon-yellow">star</mat-icon>
              <strong class="heading">Ratings:</strong>
            </div>
            <span class="info-text">{{ restaurant.rating }}</span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="icon-container">
            <div class="icon-info">
              <mat-icon class="icon-grey">comment</mat-icon>
              <strong class="heading">Review:</strong>
            </div>
            <span class="info-text">{{ restaurant.reviews }}</span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="icon-container">
            <div class="icon-info">
              <mat-icon class="icon-green">attach_money</mat-icon>
              <strong class="heading">Cost:</strong>
            </div>
            <span class="info-text">{{ restaurant.cost }}</span>
          </div>
        </div>
       
        <div class="col-md-3">
          <div class="icon-container">
              <strong class="heading">Cuisine:</strong>
            <span class="info-text">{{ restaurant.cuisines }}</span>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row line-section section-spacing shadow-box">
      <h3>About</h3>
      <div class="col-md-6">
        <p></p>
        <div class="icon-container">
          <div class="icon-info">
            <mat-icon class="icon-blue">phone</mat-icon>
            <strong class="heading">Contact:</strong>
          </div>
          <span class="info-text">{{ restaurant.contact }}</span>
        </div>
        <p></p>
        <div class="icon-container">
          <div class="icon-info">
            <mat-icon class="icon-grey">location_city</mat-icon>
            <strong class="heading">Neighborhood:</strong>
          </div>
          <span class="info-text">{{ restaurant.neighborhood }} </span>
        </div>
        <p></p>
        <div class="icon-container">
          <div class="icon-info">
            <mat-icon class="icon-grey">schedule</mat-icon>
            <strong class="heading">Hours:</strong>
          </div>
          <span class="info-text">{{ restaurant.hours }} </span>
        </div>
      </div>
      <div class="col-md-6 justify-content-end">
        <div class="icon-container">
          <div class="icon-info">
            <mat-icon class="icon-green">local_parking</mat-icon>
            <strong class="heading">Parking Info: </strong>
          </div>
          <span class="info-text">{{ restaurant.parkingdetails }} </span>
        </div>
        <!-- <div class="icon-info">
          <mat-icon class="icon-green">local_parking</mat-icon>
          <strong class="heading">Parking Details: </strong>
        </div>
          {{ restaurant.parkingdetails }} -->

        <p></p>
        <div class="icon-container">
          <div class="icon-info">
            <strong class="heading">Valet Parking:</strong>
            <span class="info-text">
              {{ restaurant.isValetPark ? "Yes" : "No" }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
