<div class="container">
    <div class="row section-spacing">
      <div class="col-md-11">
        <h2>{{ restaurant.name }}</h2>
        <br>
        <div class="row">
          <div class="col-md-3">
            <mat-icon class="icon-yellow">star</mat-icon> <strong>Rating:</strong> {{ restaurant.rating }}
          </div>
          <div class="col-md-3">
            <mat-icon class="icon-grey">comment</mat-icon> <strong>Reviews:</strong> {{ restaurant.reviews }}
          </div>
          <div class="col-md-3">
            <mat-icon class="icon-grey">attach_money</mat-icon> <strong>Cost:</strong> {{ restaurant.cost }}
          </div>
          <div class="col-md-3">
            <strong>Cuisines:</strong> {{ restaurant.cuisines }}
          </div>
        </div>
      </div>
    </div>
    <div class="row line-section">
      <h3>About</h3>
      <p>
        <mat-icon class="icon-blue">phone</mat-icon> <strong>Contact:</strong> {{ restaurant.contact }}
      </p>
      <p>
        <mat-icon class="icon-grey">location_city</mat-icon> <strong>Neighborhood:</strong> {{ restaurant.neighborhood }}
      </p>
      <p>
        <mat-icon class="icon-grey">schedule</mat-icon> <strong>Hours:</strong> {{ restaurant.hours }}
      </p>
      <p>
        <mat-icon class="icon-green">local_parking</mat-icon> <strong>Parking Details:</strong> {{ restaurant.parkingdetails }}
      </p>
      <p>
        <strong>Valet Parking:</strong> {{ restaurant.isValetPark ? 'Yes' : 'No' }}
      </p>
    </div>
</div>
  