.invoice-button {
    float: right;
  }
  
  .generate-invoice-button {
    background-color: #080202;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .generate-invoice-button:hover {
    background-color: #f2fdf2;
    color: #000000; 
    border: #000000 1px solid;
  }
  
  