.header {
  position: relative;
  height: 75vh;
  background-image: url("../../assets/images/DineEasy.jpg");
  background-size: cover;
  background-position: center;
}

.navbar {
  background-color: transparent;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-nav .nav-link {
  font-size: 18px;
  margin-left: 20px;
}

.image-width {
    width: 100%;
    height: auto;
  }

  .card-equal-height {
    height: 100%;
  }

  .section-spacing {
    margin-top: 40px;
    margin-bottom: 1px;
  }

  .custom-image {
    width: 100vw;
    height:80vh;
  }

  .nav-bg {
    background-color: snow;
  }
  .line-section {
    border-top: 2px solid black;
    margin: 5px 0;
  }

  